--- 
layout: default 
--- 
<!-- Navi -->
{% for cat in site.all_categories %}{% if page.category == cat[0] %}<a href="/">Home</a>&nbsp;>&nbsp;<a href="{{cat[2]}}">{{cat[1]}}</a>&nbsp;>&nbsp;text{% endif %}{% endfor %}
<!-- Title -->
<h2>{{ page.title }}</h2>
{% if page.tags.size > 0%}<b>label：</b>{% for tag in page.tags %}{% if tag != "" %}<a href="/tags.html#{{ tag }}"><i>{{ tag }}</i></a>{% if forloop.index != page.tags.size %}, {% endif %}{% endif %}{% endfor %}{% endif %}
<div class="post-date">
	<span class="glyphicon glyphicon-time"></span>
	{{ page.date | date:"%Y-%m-%d" }}
</div>
<br/>

<!-- content -->
<div style="text-indent:2em;">
{{ content }}
</div>

<br/>
<b>links to this article: </b><a href="{{site.url}}{{page.url}}" title="{{page.name}}">{{site.url}}{{page.url}}</a>

<!-- next and previous -->
<div style="margin-top:15px; margin-bottom:10px">
  {%if page.previous%}
  <span class="next">
    On the article：
    <a href="{{page.previous.url}}">
      {{page.previous.title}}
    </a>
  </span>
  {%endif%} 
  {%if page.next%}
  <div style="float:right">
  <span class="prev" >
    part 2:
    <a href="{{page.next.url}}">
      {{page.next.title}}
    </a>
  </span>
  </div>
  {%endif%}
</div>
<hr>
<!-- Blog Comments -->
<div class="media">
  <!-- {% include comment.html %} -->
</div>